<!DOCTYPE>
<html ng-app="myApp">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <title>Contact List APP</title>
</head>
<body>
    <div class="container" ng-controller="AppCtrl">
       <h1>Register</h1>
       <h4 ng-if="registerSuccess" style="color: Green" align="center">User Registered!!</h4>
       <h4 ng-if="registerFailure" style="color: Green" align="center">Registration Failed!!</h4>
       
       <table class="table">

			<thead>
            	<tr>
                	<td>Name</td>
            	</tr>
        	</thead>

        	<tbody>
            	<tr>
                	<td><input class="form-control"
                    	ng-model="userregister.name" type="text" name=""></td>
                	</tr>
            </tbody>

        	<thead>
            	<tr>
                	<td>Email</td>
            	</tr>
        	</thead>

        	<tbody>
            	<tr>
                	<td><input class="form-control"
                    	ng-model="userregister.email" type="email" name=""></td>
                	</tr>
            </tbody>

            <thead>
                <tr>
                    <td>Password</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input class="form-control"
                        ng-model="userregister.password" type="Password" name=""></td>
                 </tr>
            </tbody>

            <thead>
            	<tr>
                	<td>Phone</td>
            	</tr>
        	</thead>

        	<tbody>
            	<tr>
                	<td><input class="form-control"
                    	ng-model="userregister.phone" type="number" name=""></td>
                	</tr>
            </tbody>

            <tbody>
            <tr>
                <td><button class="btn btn-primary"
                            ng-click="registerUser();">Register</button></td>
                </tr>
            </tbody>

        </table>

            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
            <script src="controllers/loginController.js"></script>

        </body>
        </html>